h1 {
  text-align: center;
  font-family: 'arial';
  font-size: 100px;
  margin: 0;
  color:white;
}

h2 {
  text-align: center;
  font-family: 'sans-serif';
  font-size: 40px;
  margin-top: 0;
  color: white;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin:0;
  padding: 0;
  overflow:hidden;
  background-color: #00a0a7;
}

li {
  float:left;
  color: white;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  margin-left: 100px;
  margin-right: 100px;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: #1a9fa4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 30px;
  margin: 40px 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #1a9fa4
}

#first_page {
  border-style: solid;
  border-width: 5px;
  border-color: #00a0a7;
  border-radius: 5px;
  padding: 250px;
  padding-bottom: 300px;
  margin: 100px, 50px, 50px, 50px;
  background-image: url(https://images.pexels.com/photos/175703/pexels-photo-175703.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-size:100%;
  background-position: top;
}

#final {
  border-style: solid;
  border-width: 5px;
  border-color: #00a0a7;
  border-radius: 5px;
  padding: 150px;
  margin: 100px, 50px;
  margin-bottom: 100px;
  background-image: url(https://wallpapersite.com/images/pages/pic_h/9940.jpg);
  background-size:100%;
  background-position: top;
  height: 700px;
}

#final_header {
  text-align: center;
  font-family: 'arial';
  font-size: 90px;
  margin: 0;
  color:white;
}

.page {
  padding: 200px;
}

.quote {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  color: #00a0a7;
}

.source {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #00a0a7;
}
